<%= flash[:notice] %>
<ul>
  <% @links.each do |link| %>
  <li id="link-<%= link.id %>"><%= link.url %></li>
  <% end %>
</ul>

<form action="/" method="get">
  <input type="submit" value="Back to home page">
</form>
